body{
margin:0px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body .main {
  background: url(http://img1.ak.crunchyroll.com/i/spire2/7e5d7f0990eee68532fbe643792c13eb1460582156_main.jpg) no-repeat fixed;
  background-size: cover;
  position: relative;
}

.constrained {
    margin: 0px auto 0px auto;
    width: 980px;
}

.left{
  float: left;
}

.left img{
  margin-top: 8px;
}

.header .left-list{
  text-align: left;
  float: right;
  vertical-align: middle;
  margin-top:17px;
  font-size:14px;
}

.header .left-list a {
    color: #000;
    text-decoration: none;
    position: relative;
}
.header .left-list a:hover, .header .left-list li.active a, .footer a:hover, .footer li.active a, .new{
    color: rgb(247, 140, 37);
}

.header{
  padding: 9px 0px 9px 0px;
}

.header ul{
  margin: 0px;
  padding: 0px;
}

.tryfree {
    color: rgb(247, 140, 37);
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    top: -8px;
    right: -14px;
}

.main .constrained {
    position: relative;
    z-index: 2;
}

.right .right-list{
  text-align:center;
  float:right
}

.clear{
  clear:both;
}

.header li{
  display:inline;
  padding:10px;
  font-weight:bold;
}

.header li img{
  margin-left:-15px;
}


.searchbar{
  float:right;
  margin-top:6px;
  margin-left:10px;

}

.searchinput{
  background:url(../images/LookingGlass.jpg) no-repeat right 4px center;
  padding:7px;
  border-radius:2px;
  border:1px solid rgb(206, 202, 202);
}


.banner{
  height:160px;
  width: 960px;
  margin: 0 auto;
  padding: 13px 0;
}

.grid{
  background:#E8F4F8;
}

.grid-header{
  background-color:gray;
  margin-top:0px;
  margin-left:10px;
  margin-right:10px;
}

.grid-header a{
  text-decoration:none;
  background-color:darkgray;
  display: block;
  padding:12px 20px;
  padding-top:8px;
  font-weight:bold;
  margin: 4px 4px 0 0;
  font-size: 14px;
}

.grid-header .ul-a1{
  color:black;
  background-color:white;
}

.grid-header .ul-a2{
  color:white;
  background-color:#3a3a3a;
}

.grid-header ul{
  margin: 0;
  padding-left:4px;
}

.grid-header li{
  display: block;
  float: left;
  margin-bottom: 0px;
}

.grid-list{
  background-color:white;
  margin-top:-16px;
  margin-left: 10px;
  margin-right: 10px;
  height:42px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.grid-list ul{
  padding-left:0px;
  margin-left:30px;
  line-height: 43px;
}

.grid-list a{
  text-decoration:none;
}

.grid-list li{
  display:inline;
  margin-right:5px;
}

.grid-list .grid-li-1{
  color:black;
  font-weight:bold;
}

.grid-list .grid-li-2{
  color:gray;
  font-weight:bold;
}

.grid-list .gridheader-right{
  color:blue;
  padding-right:0px;
  margin-right:10px;
  float:right;
  margin-top:-60px;
}

.grid-pic{
  display:inline-block;
  background-color:white;
  padding:10px 9px 0px 9px;
  margin-left:10px;
  font-size:12px;
  margin-bottom:5px;
  margin-top:10px;
  margin-right:0px;
  border: 1px solid lightgray;
  color:black;
}

.grid-pic a{
  color:black;
}

.grid-pic .paragraph{
  margin-top:-10px;
}

.grid-pic img{
  width: 125px;
  height: 187px;
  display: block;
  margin-bottom: 8px;
}

.sidebar{
  float:right;
  text-align:left;
  font-size:15px;
  margin:-275px 15px 15px 15px;
}

.sidebar h3{
  border-top:1px solid gray;
  padding-top:15px;
}

.sidebar ul{
  padding: 0px;
  padding-left: 3px;
}

.sidebar ul li{
  display:inline-block;
  color:black;
}

.sidebar .icon{
  margin-bottom:4px;
}

.sidebar a{
  text-decoration:none;
  color:blue;
}

.sidebar ul:hover{
  background-color: white;
  border: 1px solid lightgray;
}

.bottom-grid-button{
  border: 1px solid #ccc;
  margin-left: 5px;
  margin-right: 316px;
  text-align:center;
  border-radius:4px;
  text-decoration:none;
  width:640px;
}

.bottom-grid-button h3{
  color: #3f3f3f;
  padding:0px;
  margin:10px;
}

.row a{
  text-decoration: none;
}

.fullbg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-pic:hover{
  border: solid 1px darkgray;
}

.bottom-grid-button:hover{
  border: solid 1px darkgray;
}

.footer{
  background: #E8F4F8;
}

.footer ul{
  padding: 0px 1%;
  display: inline-block;
  list-style: none;
  width: 13%;
  vertical-align: top;
  text-align: left;
  margin-top: 25px;
  margin-left: 10px;
}

.footer a{
  text-decoration: none;
}

.footer ul li a{
  color: #888;
  font-size: 11px;
}

.footer ul li h6{
  font-size: 11px;
  color: #777;
  margin: 0px;
  margin-top: 14px;
}

.new{
  position: absolute;
}

.footerlist-policy{
  position: relative;
}

.social-media{
  background: #E8F4F8;
}

.social-list{
  margin: 0px;
  list-style: none;
  padding:0px 0px 30px 20px;
}

.social-list li{
  display: inline-block;
  margin-right:20px;

}
